.blog-post {
  article {
    margin-bottom: 55px;
  }
  .entry-content-wrapper {
    padding-top: 24px;
    .entry-title {
      font-size: 18px;
      margin-top: 0;
      margin-bottom: 12px;
    }
  }
  .col-lg-12 {
    .entry-content-wrapper {
      .entry-title {
        font-size: 24px;
      }
    }
  }
  .btn {
    color: #161b3d !important;
    border-color: #d0d6db;
    background-color: #d0d6db;
    border-radius: 0;
    &:hover {
      color: #161b3d;
      background-color: #c0c6cc;
      border-color: #c0c6cc;
    }
  }
}

// meta top
.entry-meta-top {
  color: $secondary-color;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 4px;
  a {
    color: $secondary-color;
  }
  span:not(:last-child):after {
    content: "-";
    padding-left: 5px;
    padding-right: 5px;
  }
  .entry-meta-category a:not(:last-child):after {
    content: "/";
    padding-left: 3px;
    padding-right: 3px;
  }
}

// tag
.entry-tags {
  margin: 0;
  padding: 0;
  list-style: none;
}

.entry-tags li {
  display: inline-block;
}

.entry-tags li a {
  background: transparent;
  border: 1px solid rgba(199, 199, 199, 0.2);
  box-shadow: 0px 3px 5px 0px rgba(30, 32, 90, 0.03);
  border-radius: 50px;
  padding: 14px 22px;
  margin: 5px 8px 5px 0;
  font-size: 14px;
  line-height: 1.1;
  display: inline-block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  &:hover {
    background-color: $primary-bg-color;
  }
}

.entry-read-more {
  font-weight: 600;
}

// Card blog style
.card-post-style {
  margin-bottom: 30px;
  article {
    margin-bottom: 30px;
    .entry-content-wrapper {
      padding: 30px 30px 10px 30px;
      background-color: $primary-bg-color;
      p {
        margin-bottom: 20px;
      }
    }
    .entry-read-more {
      display: block;
      margin-bottom: 20px;
    }
  }
  .col-lg-12 article {
    margin-bottom: 50px;
  }
  .btn {
    margin-top: 30px;
  }
}
body:not(.single-post) .card-post-style {
  .format-quote {
    .post_blockquote {
      background-color: #f8f9fa;
      padding: 30px 30px 0 30px;
      blockquote {
        margin-bottom: 0;
      }
    }
    .entry-content-wrapper {
      padding: 30px;
    }
  }
}
// Blog img overlay

.blog-img-overlay {
  article {
    margin-bottom: 30px;
    position: relative;
    height: calc(100% - 30px);
    .entry-media {
      &:after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #394245;
        opacity: 0.6;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    &:hover {
      .entry-media {
        &:after {
          opacity: 0.7;
        }
      }
    }
    .entry-content-wrapper {
      padding: 35px 30px;
      position: absolute;
      top: 0;
      color: #fff !important;
      height: 100%;
      width: 100%;
      .entry-title {
        font-size: 32px;
        line-height: 1.3;
        font-weight: 700;
      }
      .entry-meta-top {
        font-weight: 700;
        margin-bottom: 8px;
      }
      .entry-meta-top,
      .entry-meta-top a,
      a {
        color: #fff !important;
      }
      &:before {
        display: block;
        content: "";
        background-color: #2821fc;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
      }
    }
  }
  article {
    @media (max-width: 992px) {
      .entry-content-wrapper {
        .entry-title {
          font-size: 28px;
        }
      }
    }
    @media (max-width: 576px) {
      .entry-content-wrapper {
        .entry-title {
          font-size: 24px;
          line-height: 1.4;
        }
      }
    }
  }
  .btn {
    margin-top: 30px;
  }
}

// Blog list Style
.blog-list-style {
  article {
    margin-bottom: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    .entry-media {
      max-width: 100px;
      margin-right: 20px;
    }
    .entry-content-wrapper {
      padding-top: 0;
      -ms-flex: 1;
      flex: 1;
      .entry-title {
        font-size: 16px;
        margin-bottom: 5px;
      }
      .entry-meta-top {
        margin-bottom: 10px;
      }
    }
  }
}

// Single post
.single-post {
  article {
    margin-bottom: 80px;
    .entry-content-wrapper {
      padding-top: 20px;
    }
  }
}
.single-post-entry-title {
  font-weight: 700;
}
@media (max-width: 992px) {
  .single-post-entry-title {
    font-size: 28px;
  }
}

// Post Navigation
.post-navigation {
  margin-top: 30px;
  padding-top: 44px;
  border-top: solid 1px #ededed;
  .nav-links {
    .nav-subtitle {
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      color: $secondary-color;
    }
    .nav-title {
      font-weight: 500;
    }
  }
}

// Simple Entry List
.energetic-core-parts-posts-list.simple-entry-list.blog-post {
  background-color: #f8f9fa;
  margin: 0;
  padding: 30px;
  list-style: none;
  li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    article {
      margin-bottom: 0;

      .entry-content-wrapper {
        padding: 0;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 85%;
        flex: 0 0 85%;
        max-width: 85%;
        line-height: 1.65;
        .entry-title {
          font-size: 16px;
          font-weight: 600;
          line-height: 1.65;
          display: block;
          margin-bottom: 7px;
        }
        .entry-meta-top {
          color: $tertiary-color;
          font-size: 12px;
          text-transform: uppercase;
          letter-spacing: 0.05em;
          margin-bottom: 4px;
        }
      }
      .reveal-title {
        font-size: 36px;
        line-height: 1em;
        font-weight: 700;
        color: #b6bec9;
        margin-top: 4px;
        margin-bottom: 0.01em;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 14.5%;
        flex: 0 0 13%;
        max-width: 13%;
      }
    }
  }
  li:not(:last-child) {
    margin-bottom: 20px;
  }
}
.web-footer .energetic-core-parts-posts-list.simple-entry-list.blog-post {
  background-color: transparent;
  padding: 0;
  li:not(:last-child) {
    margin-bottom: 16px;
  }
}
