// Text Color
$primary-color:#161b3d;
$secondary-color:#5b5d6b;
$tertiary-color:#7d8094;
// Accent color
$accent-color: #2821fc;
// Background Color
$primary-bg-color:#f8f9fa;

$bg-dark-color:#222;
// Boder Color
$border-color: #ededed;