.wp-block {
  max-width: 760px;
}
.editor-post-title__block .editor-post-title__input {
  font-weight: 700;
  font-size: 40px;
  font-family: "Poppins", sans-serif !important;
  color: #161b3d;
}
.edit-post-visual-editor,
.editor-styles-wrapper {
  font-family: "Poppins", sans-serif !important;
  font-size: 16px !important;
  line-height: 1.75 !important;
  color: #5b5d6b !important;
  font-weight: 400 !important;
}

.edit-post-visual-editor .editor-block-list__block {
  font-size: 16px;
}

.edit-post-visual-editor a {
  text-decoration: none;
  color: #161b3d !important;
}

.wp-block-heading {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Poppins", sans-serif;
    color: #161b3d;
    font-variant-ligatures: common-ligatures;
    font-weight: 600;
    margin-top: 6px;
    margin-bottom: 6px;
    line-height: 1.4;
    letter-spacing: 0;
  }
}

.wp-block-freeform.block-library-rich-text__tinymce {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 6px;
    margin-bottom: 6px;
    line-height: 1.4;
    letter-spacing: 0;
  }
}

.edit-post-visual-editor {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #161b3d;
  }
  h1 {
    font-size: 40px;
  }
}

.wp-block-freeform.block-library-rich-text__tinymce h1 {
  font-size: 40px;
}

.edit-post-visual-editor h2,
.wp-block-freeform.block-library-rich-text__tinymce h2 {
  font-size: 32px;
}

.edit-post-visual-editor h3,
.wp-block-freeform.block-library-rich-text__tinymce h3 {
  font-size: 28px;
}

.edit-post-visual-editor h4,
.wp-block-freeform.block-library-rich-text__tinymce h4 {
  font-size: 24px;
}

.edit-post-visual-editor h5,
.wp-block-freeform.block-library-rich-text__tinymce h5 {
  font-size: 18px;
}

.edit-post-visual-editor h6,
.wp-block-freeform.block-library-rich-text__tinymce h6 {
  font-size: 16px;
}
.editor-block-list__layout .editor-default-block-appender>.editor-default-block-appender__content, .editor-block-list__layout>.editor-block-list__block>.editor-block-list__block-edit, .editor-block-list__layout>.editor-block-list__layout>.editor-block-list__block>.editor-block-list__block-edit {
  margin-bottom: 27px;
  margin-top: 27px;
}
.editor-block-list__layout .editor-block-list__block[data-type="core/heading"] .editor-block-list__block-edit {
  margin-bottom: -21px !important;
}
.edit-post-visual-editor {
  blockquote,
  .blockquote {
    border-left: 4px solid #2821fc !important;
    color: #161b3d;
  }
  blockquote.is-large {
    font-style: italic;
    font-size: 24px;
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 1.556;
    border-left: 4px solid #161b3d;
    .wp-block-quote__citation {
      font-style: normal;
      font-size: 18px;
      color: #637282;
    }
    .wp-block-quote {
      cite,
      footer {
        font-style: normal;
        font-size: 18px;
        color: #637282;
      }
    }
  }
}

.wp-block-pullquote {
  border-bottom: 4px solid #1e205a;
  border-top: 4px solid #1e205a;
  color: #161b3d;
  padding: 40px 0;
  blockquote {
    border-left: none !important;
    > .editor-rich-text p {
      color: #656e79;
      font-size: 24px;
      line-height: 1.6;
    }
  }
}

.wp-block-pullquote__citation {
  font-size: 16px;
  color: #656e79 !important;
  text-transform: none;
  font-weight: normal;
  margin-top: 15px;
  &::before {
    content: "—";
    padding-right: 5px;
  }
}

.edit-post-visual-editor code {
  font-size: 16px !important;
}

dt {
  font-weight: bold;
}

address {
  font-style: normal;
}

.edit-post-visual-editor {
  hr {
    margin: 1.85714286em 0;
    border-color: #f0f0f0;
  }
  kbd {
    padding: 0.2rem 0.4rem;
    font-size: 87.5%;
    color: #fff;
    background-color: #212529;
    border-radius: 0.2rem;
  }
  pre {
    background: #f1f1f1;
    padding: 5px 20px;
  }
}

.mce-item-table {
  border-collapse: collapse;
  border: none !important;
}

.edit-post-visual-editor {
  table {
    
    margin-bottom: 1.3em;
  }
  td,
  th {
    padding: 10px;
    border: 1px solid #ededed !important;text-align: left;
  }
}

body.gutenberg-editor-page {
  .editor-block-list__layout {
    .editor-block-list__block,
    .editor-default-block-appender {
      max-width: 760px;
    }
  }
  .editor-post-title .editor-post-title__block {
    max-width: 760px;
  }
  .editor-block-list__layout .editor-block-list__block {
    &[data-align="wide"] {
      max-width: 1200px;
    }
    &[data-align="full"] {
      max-width: none;
    }
  }
}

.edit-post-visual-editor .btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #3b42a2;
  border-color: #3b42a2;
  color: #fff !important;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  padding: 0.7rem 2.614rem;
  border-width: 2px;
}

.text-center {
  text-align: center !important;
}

.w-100 {
  width: 100% !important;
}

.wp-block-separator:not(.is-style-dots):not(.is-style-wide) {
  margin-bottom: 40px !important;
  margin-top: 40px !important;
  background: none;
  max-width: 100px !important;
  border-top: 0;
  border-bottom: 2px solid #8f98a1;
  margin-right: auto;
  margin-left: auto;
}

.edit-post-visual-editor hr.wp-block-separator {
  background: none;
  border: none;
  height: auto;
  line-height: 1;
  max-width: none;
  text-align: center;
}
.wp-block-separator.is-style-dots:before {

  font-size: 36px;
  font-weight: 800;
  letter-spacing: 0.55em;
  margin-left: 19px;
  padding-left: 0;
  top: calc(50% - 28px);
}


.edit-post-visual-editor hr.wp-block-separator.is-style-wide {
  max-width: 1200px;
  border-bottom: 1px solid #ededed !important;
}
.wp-block-categories-list li, .wp-block-categories__list li {
  list-style: none;
}
.block-editor .wp-block-categories ul ul {
 
  padding-left: 2.5em !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-right: 0 !important;
}
